* {
    margin: 0;
    padding: 0;
}


.gameWrapper {
    background-image: url(../img/mainBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.hidden {
    opacity: 0;
    ;
}

.collapsed {
    display: none;
}

.relative {
    position: relative;
}

div {
    color: white;
    text-shadow: 0 0 5px black;
}

.baner {
    max-width: 600px;
    display: block;
    margin-left: auto;
}


.wheelWrapper{
    max-width: 300px;
    max-height: 300px;
}
.questionWrapper {
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.fieldsWrapper,
.wordWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.fieldsWrapper .field,
.wordWrapper .letterWrapper,
.letterEnter {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

.letterEnter {
    margin: 0 auto;
    margin-bottom: 20px;
}

.enterTitle {
    text-align: center;
    margin-bottom: 10px;
}

.wordWrapper .letterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    text-shadow: none;
    font-weight: bold
}


.btnWrapper{
    padding: 0;
}
.enterBtn {
    padding: 10px;
    background: rgb(203, 218, 9);
    background: linear-gradient(90deg, rgba(203, 218, 9, 1) 0%, rgba(139, 209, 4, 1) 50%, rgba(172, 245, 10, 1) 100%);
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.fullWordBtn,
.lettersBtn {
    width: fit-content;
    border: none;
    background-color: transparent;
    color: blue;
    font-size: 24px;
}

.scoreWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

table {
    border: 3px solid white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

td {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
}

.winString {
    position: absolute;
    font-size: 120px;
    color: greenyellow;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hideStr 2s ease-in-out forwards;
}
.amountOfPlayers{
    margin-bottom: 20px;
}



@media (min-width: 992px){
    .questionWrapper{
        font-size: 40px
    }
}







@keyframes hideStr {
    0% {
        font-size: 120px;
    }

    100% {
        font-size: 60px;
        display: none;
    }
}